
.overlay {
    text-align: center;
    background: var(--head-footer-bg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/header-img.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
    border: rgb(0, 0, 0) 1px solid;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.overlay__title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;

}

.overlay__button {
    background-color: var(--hover-color);
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
    padding: 10px 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}